# Dependencies and Environments
backend/venv/
frontend/node_modules/
frontend/dist/

# Python caching
**/__pycache__/
**/*.pyc

# Logs and Errors
**/*.log
eslint_out.*
vite_error.log

# Media and Datasets (Large files)
backend/dataset/
**/*.jpg
**/*.png
**/*.csv

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
